<template>
<div>
  <h1>Board Page</h1>
  <people v-for="soldier in Soldiers" :soldier="soldier" :key="soldier.pernr" class="mt-3"></people>

</div>
</template>

<script lang="ts">
import Vue from "vue";
import People from "@/components/Board/People.vue";
import { mockSoldiers } from "./service";
import { Soldier } from "@/Models/Board";
import { mapMutations } from "vuex";

export default Vue.extend({
  name: "Board",
  data(){
    return {
      Soldiers: [] as Soldier[]
    }
  },
  methods: {
        ...mapMutations({
      setSoldiers: 'setSoldiers'
    })
  },
  components: {
      "people" : People
  },
  mounted(){
    this.Soldiers = mockSoldiers
    this.setSoldiers(this.Soldiers)
  }
});
</script>

<style>
</style>