<template>
  <div class="d-flex flex-row">
    <!-- <div class="primaryMovement mr-3" @click="movementClicked">
      <v-icon class="mr-1 mt-1">mdi-star</v-icon>
    </div>

    <div class="square mr-3" @click="movementClicked"></div>
    <div class="square mr-3" @click="movementClicked"></div> -->
    <movement-cube :isPrimaryMovement="true" :disabled="disabled" :soldier="soldier" :movementOnScreen="movementLine.primaryMovement"></movement-cube>
    <movement-cube :isPrimaryMovement="false" :disabled="disabled" :soldier="soldier" :movementOnScreen="movementLine.firstMovement"></movement-cube>
    <movement-cube :isPrimaryMovement="false" :disabled="disabled" :soldier="soldier" :movementOnScreen="movementLine.secondMovement"></movement-cube>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { MovementLine, Soldier,  } from "@/Models/Board";
import MovementCube from "@/components/Board/MovementCube.vue";
import { mapSoldierMovementsToScreen } from "@/views/Board/service";
export default Vue.extend({
  components: {
    "movement-cube": MovementCube,
  },
  data(){
    return {
      movementLine : {} as MovementLine
    }
  },
  props: {
    soldier: {
      type: Object as () => Soldier,
      required: false,
    },
        disabled: {
      type: Boolean,
    },
  },
  methods: {
    movementClicked(): void {
      alert(1);
    },
    // onMovementSelected(mov : MovementOnScreen) : void {

    // }
  },
  mounted(){
    this.movementLine = mapSoldierMovementsToScreen(this.soldier.movements[0], this.disabled)
    console.log(this.movementLine)
  }
});
</script>

<style scoped>
.square {
  /* background: #000; */
  /* border-block-end-width:  2px; */
  border: 2px;
  border-style: solid;
  border-color: white;
  width: 30px;
  height: 30px;
}

.primaryMovement {
  /* background: #000; */
  /* border-block-end-width:  2px; */
  /* border: 2px;
  border-style: solid;
  border-color: white; */
  background-color: grey;
  width: 30px;
  height: 30px;
}
</style>