<template>
  <v-row>
    <div>
      <span> תנועות </span>
    </div>
    <v-menu offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-icon v-bind="attrs" v-on="on" color="white"> mdi-menu-down </v-icon>
      </template>
      <v-card height="300px" width="350px" color="blue">
        <v-container>
          <v-row justify="end">
            <v-icon class="ml-1 mt-1">mdi-close</v-icon>
          </v-row>

          <v-row justify="center">
            <div>
              <span> המלצות לתנועות | </span>
            </div>
            <div class="mr-1">
              <span> רס"ן גל כנרת </span>
            </div>
          </v-row>
          <v-row class="mt-4">
            <v-divider></v-divider>
          </v-row>

          <v-row class="mt-8 mr-5">
            <movement-line></movement-line>
          </v-row>
        </v-container>
      </v-card>
    </v-menu>
  </v-row>
</template>

<script lang="ts">
import Vue from "vue";
import MovementLine from "@/components/Board/MovementLine.vue";

export default Vue.extend({
  name: "Home",

  components: {
    "movement-line": MovementLine,
  },
  data: () => ({
    items: [
      { title: "Click Me" },
      { title: "Click Me" },
      { title: "Click Me" },
      { title: "Click Me 2" },
    ],
  }),
});
</script>

<style scoped>
</style>
