<template>
  <div>
    <!-- <div
      v-if="isPrimaryMovement"
      class="primaryMovement mr-3"
      @click="movementClicked"
    >
      <v-icon class="mr-1 mt-1">mdi-star</v-icon>
    </div>
    <div v-else class="square mr-3" @click="movementClicked"></div> -->

    <v-menu
      offset-y
      :close-on-click="false"
      :close-on-content-click="false"
      :disabled="disabled"
    >
      <template v-slot:activator="{ on, attrs }">
        <div v-if="movementOnScreen.id == ''">
          <div
            v-if="isPrimaryMovement"
            class="primaryMovement mr-3"
            @click="movementClicked"
            v-bind="attrs"
            v-on="on"
          >
            <v-icon class="mr-1 mt-1">mdi-star</v-icon>
          </div>
          <div
            v-else
            class="square mr-3"
            @click="movementClicked"
            v-bind="attrs"
            v-on="on"
          ></div>
        </div>

        <div v-else>
          <div
            v-if="isPrimaryMovement"
            v-bind="attrs"
            v-on="on"
            class="blankSquare primaryWithData"
          >
            <div class="mr-1">
              <span>

              {{ movementOnScreen.text }}
              </span>
            </div>
          </div>

          <div v-else v-bind="attrs" v-on="on" class="blankSquare chosenCube">
            <div class="mr-1">
              {{ movementOnScreen.text }}
            </div>
          </div>
        </div>
      </template>
      <v-card height="85px" width="350px">
        <v-container class="mr-2">
          <v-row class="mr-1">
            <v-col cols="5">
              <span> נשאר </span>
            </v-col>
            <v-col>
              <span> זמני </span>
            </v-col>
            <v-col>
              <span> עוזב </span>
            </v-col>
          </v-row>

          <v-row class="mr-1">
            <v-col cols="5">
              <v-row>
                <div class="blankSquare" :class="isChosenMovment('kidum')">
                  <div class="mr-1" id="kidum" @click="userClickMovement">
                    ק
                  </div>
                </div>
                <div class="blankSquare mr-1" :class="isChosenMovment('rohav')">
                  <div class="mr-1" id="rohav" @click="userClickMovement">
                    ר
                  </div>
                </div>
                <div
                  class="blankSquare mr-1"
                  :class="isChosenMovment('continue')"
                >
                  <div class="mr-1" id="continue" @click="userClickMovement">
                    מ
                  </div>
                </div>
              </v-row>
            </v-col>
            <v-col>
              <v-row>
                <div
                  class="blankSquare mr-1"
                  :class="isChosenMovment('vication')"
                >
                  <div class="mr-1" id="vication" @click="userClickMovement">
                    ח
                  </div>
                </div>
                <div
                  class="blankSquare mr-1"
                  :class="isChosenMovment('studies')"
                >
                  <div class="mr-1" id="studies" @click="userClickMovement">
                    ל
                  </div>
                </div>
              </v-row>
            </v-col>
            <v-col>
              <v-row>
                <div
                  class="blankSquare mr-1"
                  :class="isChosenMovment('release')"
                >
                  <div class="mr-1" id="release" @click="userClickMovement">
                    ש
                  </div>
                </div>
                <div class="blankSquare mr-1" :class="isChosenMovment('quit')">
                  <div class="mr-1" id="quit" @click="userClickMovement">פ</div>
                </div>
              </v-row>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-menu>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Soldier, MovementIds, MovementOnScreen } from "@/Models/Board";
import { getPrimaryMovement } from "@/views/Board/service";
import { mapGetters } from "vuex";
export default Vue.extend({
  data() {
    return {
      Movements: [
        {
          id: "kidum",
          text: "ק",
        },
        {
          id: "rohav",
          text: "ר",
        },
        {
          id: "continue",
          text: "מ",
        },
        {
          id: "vication",
          text: "ח",
        },
        {
          id: "studies",
          text: "ל",
        },
        {
          id: "kidum",
          text: "ק",
        },
        {
          id: "release",
          text: "ש",
        },
        {
          id: "quit",
          text: "פ",
        },
      ] as MovementOnScreen[],
      TextCube: {
        id: "",
        text: "",
      } as MovementOnScreen,
    };
  },
  props: {
    soldier: {
      type: Object as () => Soldier,
      required: false,
    },
    isPrimaryMovement: {
      type: Boolean,
    },
    disabled: {
      type: Boolean,
    },
    movementOnScreen: {
      type: Object as () => MovementOnScreen,
    },
  },
  computed: {
    ...mapGetters({
      getSoldiers: "getSoldiers",
    }),
  },
  methods: {
    movementClicked(): void {
      console.log("Movement clicked");
      console.log(this.TextCube);
    },
    userClickMovement(event: any): void {
      const movementId = event.srcElement.id;
      this.TextCube = {
        id: movementId,
        text: (
          this.Movements.find((mov) => mov.id == movementId) as MovementOnScreen
        ).text as string,
        disabled: true,
        isPrimary: true,
      };
      // this.soldier.movements.
      console.log(this.TextCube);
      this.$emit("movementSelected", this.TextCube);

      // (this.soldier as any)[event.srcElement.id]  = '02'
    },
    isChosenMovment(id: string): string {
      return this.TextCube.id == id ? "chosenCube" : "";
    },
  },
  mounted() {
    // console.log(this.getSoldiers)
    // console.log(this.TextCube.id);
    // debugger;
    // const primaryMovement = getPrimaryMovement(this.soldier.movements[0]);
    // console.log(primaryMovement);
    // if (primaryMovement != undefined) {
    //   this.TextCube.id = primaryMovement;
    //   this.TextCube.text = (
    //     this.Movements.find(
    //       (mov) => mov.id == primaryMovement
    //     ) as MovementOnScreen
    //   ).text as string;
    // }
    // console.log(this.TextCube.id);
  },
});
</script>

<style scoped>
.primaryWithData{
  background-color: red;
  color: white;
}
.chosenCube {
  background-color: rgb(53, 146, 233);
}
.square {
  /* background: #000; */
  /* border-block-end-width:  2px; */
  border: 2px;
  border-style: solid;
  border-color: white;
  width: 30px;
  height: 30px;
}

.blankSquare {
  border: 2px;
  border-style: solid;
  border-color: grey;
  width: 25px;
  height: 25px;
}

.primaryMovement {
  /* background: #000; */
  /* border-block-end-width:  2px; */
  /* border: 2px;
  border-style: solid;
  border-color: white; */
  background-color: grey;
  width: 30px;
  height: 30px;
}
</style>