<template>
  <v-card width="400px" height="100px" color="blue" class="mr-10">
    <v-container>
      <v-col class="mr-2 mt-4">
        <!-- <v-row>

          <div>
            <v-icon>mdi-information</v-icon>
          </div>

          <div class="square mr-3" @click="movementClicked"></div>
          <div class="square mr-3" @click="movementClicked"></div>
          <div class="primaryMovement mr-3" @click="movementClicked">
            <v-icon class="mr-1 mt-1">mdi-star</v-icon>
          </div>
        </v-row> -->
        <v-row>

        <movement-line :disabled="true" :soldier="soldier"></movement-line>
                  <div class="mr-3">
            <v-icon>mdi-information</v-icon>
          </div>
        </v-row>

        <v-row class="mr-15 menuMovements">
          <movement-menu class="mt-1"></movement-menu>

        </v-row>
      </v-col>
    </v-container>
  </v-card>
</template>

<script lang="ts">
import Vue from "vue";
import MovementMenu from "./MovementMenu.vue";
import MovementLine from "./MovementLine.vue";
import { Soldier } from "@/Models/Board";

export default Vue.extend({
  name: "Soldier",
  props: {
    soldier: {
      type: Object as () => Soldier,
      required: false,
    },
  },
  components: {
    "movement-menu": MovementMenu,
    "movement-line": MovementLine,
  },
  methods: {
    movementClicked(): void {
      alert(1);
    },
  },
});
</script>

<style scoped>
.menuMovements {
  color: white;
}
.flexBoxPeople {
  height: 100px;
}
.square {
  /* background: #000; */
  /* border-block-end-width:  2px; */
  border: 2px;
  border-style: solid;
  border-color: white;
  width: 30px;
  height: 30px;
}

.primaryMovement {
  /* background: #000; */
  /* border-block-end-width:  2px; */
  /* border: 2px;
  border-style: solid;
  border-color: white; */
  background-color: grey;
  width: 30px;
  height: 30px;
}
</style>